@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Work+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Work Sans', sans-serif;
  color: #f4f4f4;
  background-color: #194350;
  overflow: hidden;
}

* {
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alt-font {
  font-family: 'Pacifico', cursive;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}

.left {
  justify-content: left;
  align-items: center;
}

.icon {
  color: #f4f4f4;
  max-height: 50px;
}